body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: black */
  background-image: url("../visuals/fly.jpg");
  background-position: center;
  background-size: cover;
}

.navigationbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul#liste {
  list-style: none;
}

ul#liste li {
  display: inline;
}

.welcomeimage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
img {
  opacity: 0.8;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  text-align: center;
}
/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  padding: 20px;
}

.beskrivelse {
  background-color: #87ceeb;
  padding: 20px;
  border-radius: 10%;
  opacity: 0.8;
  text-align: center;
}
.beskrivelse h1 {
  font-size: 20px;
}

/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
  color: black;
}
